# Created by http://www.gitignore.io

### Windows ###
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp

### Linux ###
*~
.directory

### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

### Java ###
*.class
.mtj.tmp/
*.jar
*.war
*.ear
hs_err_pid*

### Intellij ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm
.idea/
*.ipr
*.iws
*.iml
out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties

# CUSTOM Project-specific Ignores
# Nothing yet
tmp/
*.log